/* Main Menu Styles */
#main-menu {
    display: none;
    flex-direction: column;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 2;
    padding: 8vh 15vh 8vh 10vh;
    transition: opacity 4.5s ease-in-out;
    transition-delay: 1.5s;
}

#main-menu.visible {
    display: flex;
    opacity: 1;
}

.menu-logo {
    height: 8vh;
}

.menu-text {
    height: 4vh;
    align-self: center;
    margin-left: 2%;
}

.menu-nav {
    margin-top: 30vh;
    margin-left: 8vh;
    font-size: 0.1vh;
}

.menu-link {
    font-size: 3vh;
    color: white;
    text-decoration: none;
    position: relative;
}

.menu-link::after {
    content: "";
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.2vh;
    width: 0;
    transition: 0.2s;
}

.menu-link:hover::after,
.menu-link:focus::after {
    width: 100%;
}